openapi: 3.1.0
info:
  title: Fulcrum Audio Signatures API
  description: The Fulcrum API is a RESTful HTTP API for the Fulcrum field data collection platform. It provides programmatic access to forms, records, media (photos, videos, audio, signatures), choice lists, classification sets, projects, layers, memberships, roles, webhooks, ad hoc query and SQL execution, and changesets. Requests and responses use JSON and authenticate with an X-ApiToken header issued from a Fulcrum account.
  version: 0.0.1
  contact:
    name: Fulcrum
    url: https://www.fulcrumapp.com/
servers:
- url: https://api.fulcrumapp.com/api/v2
  description: Fulcrum production API (v2)
security:
- ApiToken: []
tags:
- name: Signatures
  description: Signature media attached to records
paths:
  /signatures.json:
    get:
      tags:
      - Signatures
      summary: List signatures
      operationId: listSignatures
      responses:
        '200':
          description: Signatures
          content:
            application/json:
              schema:
                type: object
                properties:
                  signatures:
                    type: array
                    items:
                      $ref: '#/components/schemas/Media'
    post:
      tags:
      - Signatures
      summary: Upload signature
      operationId: uploadSignature
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                access_key:
                  type: string
                file:
                  type: string
                  format: binary
              required:
              - access_key
              - file
      responses:
        '200':
          description: Signature uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    $ref: '#/components/schemas/Media'
components:
  schemas:
    Media:
      type: object
      properties:
        access_key:
          type: string
        record_id:
          type: string
          format: uuid
        form_id:
          type: string
          format: uuid
        file_size:
          type: integer
        content_type:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    ApiToken:
      type: apiKey
      in: header
      name: X-ApiToken
      description: Fulcrum API token issued from a Fulcrum account
